*.save
.#*
*.o
bin/*
obj/*
*.bat
*.7z
*.zip
*.ods
*.d
*.dll
info.txt
mnemonic_info_debug.txt
Thumbs.db
*.out
trash/*
build_codeblocks/bin/*
build_codeblocks/obj/*
*.png
*.odg#
old-*
