<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ShowFileInfo">
		<title>File Information</title>
		<size>400,249</size>
		<focused>1</focused>
		<id_arg>0</id_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>0,0</pos>
			<size>400,248</size>
			<object class="wxButton" name="ID_BUTTON1" variable="B_OK" member="yes">
				<label>OK</label>
				<pos>160,208</pos>
				<focused>1</focused>
				<handler function="OnB_OKClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
				<label>File</label>
				<pos>8,8</pos>
				<size>384,72</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
				<label>Name:</label>
				<pos>24,24</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
				<label>Size:</label>
				<pos>24,40</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
				<label>Type:</label>
				<pos>24,56</pos>
			</object>
			<object class="wxStaticBox" name="ID_STATICBOX2" variable="StaticBox2" member="yes">
				<label>Structure</label>
				<pos>8,88</pos>
				<size>384,96</size>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
				<label>Start Address:</label>
				<pos>24,112</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
				<label>Execution Address:</label>
				<pos>24,128</pos>
			</object>
			<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
				<label>End Address:</label>
				<pos>24,144</pos>
			</object>
		</object>
	</object>
</wxsmith>
